<header class="header">
    <div class="container">
        <div class="header__wrap">

            <div class="header__logo">
                <img class="header__logo-img" src="./images/logo.png" alt="logo">
                <p class="header__logo-text">Global</p>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item" ><a class="header__item-link active__link" href="#">Mobile Top Up</a></li>
                    <li class="header__item"><a class="header__item-link" href="#">About</a></li>
                    <li class="header__item"><a class="header__item-link" href="#">Rate</a></li>
                    <li class="header__item"><a class="header__item-link" href="#">Help</a></li>
                </ul>
            </nav>
            <a class="header__button" href="#"href="#">Sign Up</a>
            <div class="header__menu-icon">
                <span></span>
              </div>
        </div>
    </div>
</header>